@inherits LFDropDownBase

@using Lookif.Component.DropDown.Complex
@using Lookif.Component.DropDown.Basic
@if (SanitizedRecords == null)
{
    <p>
        <em>لیستی موجود نیست</em>
    </p>
}
else
{
    if (Multiple)
    {
        <LFDropDownMultipleChoice EnumType=EnumType
                                  UseEnumDisplayNames=UseEnumDisplayNames
                                  Disable=Disable
                                  IsRTL=IsRTL
                                  SelectedOption="@SelectedOption"
                                  Records="@Records"
                                  Key="@Key"
                                  Value="@Value"
                                  PerformUpdate="PerformUpdate"></LFDropDownMultipleChoice>
    }
    else
    {

        <LFDropDownSingleChoice EnumType=EnumType
                                UseEnumDisplayNames=UseEnumDisplayNames
                                IsRTL=IsRTL
                                Disable=Disable
                                SelectedOption="@SelectedOption"
                                Records="@Records"
                                Key="@Key"
                                Value="@Value"
                                PerformUpdate="PerformUpdate"></LFDropDownSingleChoice>
    }


}